$textWhite: #fff;
$colorBodyText: #1b1c21;
$colorOtherText: #7e7e82;
$colorBtIcon: #ff3e79;
$colorDecor: #b8ffec;
$border-color: #eaeaea;
$background-color: #fff;
$colorPaginationActiv: #b5b6bc;
$colorPagination: #ddd;
